Source: yaru-colors-and-folder-color
Section: graphics
Priority: extra
Standards-Version: 0.0.1
Maintainer: costales <costales.marcos@gmail.com>
Build-Depends: python-distutils-extra, debhelper (>=7)
Homepage: https://github.com/costales/yaru-colors_and_folder-color

Package: yaru-colors-and-folder-color
Architecture: all
Section: graphics
Priority: extra
Depends: yaru-theme-icon
Description: Yaru-Color and Folder Color
 Adap Yaru-Colors for working with Folder Color in Ubuntu 20.04
